// Colors
:root{
--off-white: #f9f9f9;
--off-black: #20222b;
--grey: #9898A4;
--blue: #2E3068;
--orange: #F27229;
--dark-orange: #DB4C17;
--light-orange: #F89D67;
--off-pink: #E3C2B3;
--red: red;

//Sizes

--h1-size: 2rem;
--vs-size: 1rem;
--s-size: 1.4rem;
--m-size: 1.6rem;
--l-size: 3.2rem;
--xl-size: 4.8rem;
--desktop-breakpoint: 45rem;

}